#main-content {
    display: flex;
    flex-direction: column;
    height: calc(100% - 10vw);
    margin: 0 10vw 0 10vw;
}

#question {
    flex: 0 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#answers {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    transition: flex 0.5s;
}

#left-answer {
    width: 50%;
    height: 100%;
    background-color: var(--left-card-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px transparent;
    transition: border 0.1s, width 0.5s;
}

#left-answer:hover {
    border-color: white;
}

#left-answer:active {
    border-color: transparent;
}

#right-answer {
    width: 50%;
    height: 100%;
    background-color: var(--right-card-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px transparent;
    transition: border 0.1s, width 0.5s;
}

#right-answer:hover {
    border-color: white;
}

#right-answer:active {
    border-color: transparent;
}

#explanation {
    width: 100%;
    flex: 0 1 0;
    background-color: grey;
    border-radius: 20px;
    margin-top: 10px;
    transition: flex 1s;
    /*padding: 20px;*/
}

#explanation * {
    /*color: transparent;*/
}