{% extends "base.html.twig" %}
{% block title %}Nuit de l'Info 2023{% endblock %}
{% block javascripts %} <script defer type="text/javascript" src="{{ asset("js/konamiCode.js") }}"></script> {% endblock %}
{% block main %}
    <main>
        <h1>BONJOUR</h1>
    </main>
{% endblock %}