{% extends "base.html.twig" %}
{% block title %}Nuit de l'Info 2023{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset("css/ndi.css") }}">{% endblock %}
{% block javascripts %}
    <script defer type="text/javascript" src="{{ asset("js/konamiCode.js") }}"></script>
    <script defer type="text/javascript" src="{{ asset("js/ndi.js") }}"></script>
{% endblock %}
{% block main %}
    <main>
        <div id="main-content">
            <div id="question"><h1>De quelle couleurs sont les pingouins?</h1> </div>
            <div id="content-box">
                <div id="answer-box">
                    <div id="answers">
                        <div id="left-answer"><h1>Blanc et noir</h1></div>
                        <div id="right-answer"><h1>Bleu marine et gris</h1></div>
                    </div>
                    <div id="explanation">
                        <h3>Explications :</h3>
                        <p>Parcequ'ils sont de type eau, donc ils sont forcément bleu et gris, logique!<br>
                            Parcequ'ils sont de type eau, donc ils sont forcément bleu et gris, logique!<br>


                        </p>
                    </div>
                </div>
                <div id="next" class="light">></div>
            </div>
        </div>
    </main>
{% endblock %}