{% extends "base.html.twig" %}
{% block title %}Nuit de l'Info 2023{% endblock %}
{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset("css/ndi.css") }}">{% endblock %}
{% block javascripts %}
    <script defer type="text/javascript" src="{{ asset("js/konamiCode.js") }}"></script>
    <script defer type="text/javascript" src="{{ asset("js/ndi.js") }}"></script>
{% endblock %}
{% block main %}
    <main>
        <div id="main-content">
            <div id="question"></div>
            <div id="content-box">
                <div id="answer-box">
                    <div id="answers">
                        <div id="left-answer"></div>
                        <div id="right-answer"></div>
                    </div>
                    <div id="explanation">
                        <h3>Explications :</h3>
                        <p id="explanationText"></p>
                    </div>
                </div>
                <div id="next" class="light">></div>
            </div>
        </div>
        <div id="gameOver">
            <div>Merci d'avoir joué !</div>
            <div id="score-div">
                <div >Votre score : </div>
                <div id="score">50</div>
            </div>
            <a href="{{ path("questionList") }}" id="retry" class="light">Rejouer</a>
        </div>
    </main>
{% endblock %}