{#{% extends "base.html.twig" %}#}
{#{% block title %}En savoir plus{% endblock %}#}
{#{% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset("css/wiki.css") }}">{% endblock %}#}
{#{% block javascripts %}#}
{#    <script defer type="text/javascript" src="{{ asset("js/konamiCode.js") }}"></script>#}
{#{% endblock %}#}
{#{% block main %}#}
{#    <main>#}
{#        <fieldset>#}
{#            <legend></legend>#}
{#            <p></p>#}
{#        </fieldset>#}
{#    </main>#}
{#{% endblock %}#}